@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes marquee {
    0%   { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
  }
  .animate-marquee {
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;

    animation: marquee 10s linear infinite;
  }

  @keyframes marquee-bg {
    0%   { background-position: 0 0; }
    100% { background-position: 761px 0; }
  }
  .animate-marquee-bg {
    background-size: auto 100%;
    animation: marquee-bg 10s linear infinite;
  }
}

@layer base {
  html {
    color-scheme: light dark;
  }

  * {
    @apply border-gray-200 dark:border-gray-800;
  }

  html,
  body {
    @apply text-gray-900 bg-gray-50 dark:bg-gray-950 dark:text-gray-200;
  }

  .using-mouse * {
    outline: none !important;
  }
}
